:root{
    --Font-secondary:#0c0c22ab
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.reproductor-container{
    width: 320px;
    height: 586px;
    background-color: #e9d5bc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
header{
    width: 100%;
    position: relative;
    height: 55px;
}
header .title-header{
    position: absolute;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--Font-secondary);
    font-family: 'Roboto', sans-serif;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}
.btn {
    position: absolute;
    width: 25px;
    height: 218px;

    top: 105px;
}
.btn-rigth{
    right: 0%;
}
.songs-container{
    width: 320%;
    height: 314px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -71%;
}
.song-icon-container{
    width: 70%;
    height: 258px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-icon-container .song-icon{
    width: 218px;
    height: 218px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25),
                -10px -10px 15px rgba(255, 255, 255, 0.5);
}
.pad{
    margin: 0 26px;
}
.progressbar-container{
    width: 100%;
    height: 90px;
}
.description-song-container{
    width: 270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 44px;
    padding: 3px;
}
.description-song-container .name-song{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.95);
}
.description-song-container .description-song{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--Font-secondary);
}

.barra{
    width: 270px;
    margin: 0 auto;
    height: 3px;
    background-color: #ccc;
    border-radius: 10px;
    /* overflow: hidden; */
}

.barra .progressbar-barra{
    position: relative;
    width: 0%;
    height: 100%;
    background-color: black;
    transition: 0.1s ease;
}
.progressbar-barra::before{
    width: 10px;
    height: 10px;
    background-color: black;
    content: '';
    position: absolute;
    left: calc(100% - 5px);
    top: calc(50% - 5px);
    border-radius: 50%;
}

.time-container{
    width: 270px;
    height: fit-content;
    margin: 5px  auto ;
    display: flex;
    justify-content: space-between;
}
.time-container .time-song{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: var(--Font-secondary);
}
.time-container .time-total-song{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: var(--Font-secondary);
}
.buttons-controller-container{

    width: 100%;

    height: 100px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-random { 
    
    background-image: url('../pictures/shuffle-solid\ \(2\).svg');
    

}

.btn-coso{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.67;
}